<header class="site-header" role="banner">
  <div class="site-title">
    <h1><a rel="author" href="/">{{ site.title | escape }}</a></h1>
    <h2>{{ site.subtitle | escape }}</h2>
  </div>
  <img class="site-banner" src="/images/header.jpg"/>
  <nav class="site-nav">
    {%- for path in site.data.navigation -%}
      {%- assign target = site.pages | where: "path", path.page | first -%}
      <a class="page-link" href="{{ target.url | relative_url }}">{{ path.title | escape }}</a>
    {%- endfor -%}
  </nav>
</header>
