@charset "utf-8";

// Define defaults for each variable.
/*
Text: 000
Background: fcf1ee
Brand: 836330
Gray: a1768a (Secondary, Subtitles)
Dark Gray: 666
Light Gray: ddd

Header/Footer:
  Text/Links: d5ae7c
  Title Hover: 836330

Special:
  Author Notes: brand
  Image Captions: Dark Gray
  Page Top Headings and Nav: Dark Gray
  Embeds:
    Text: 82878c
    Heading: 32373c
    Background: fff
*/

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  0.88em !default;
$tiny-font-size:   0.77em !default;
$base-line-height: 1.5 !default;

$content-width:    68.9%!default;
$spacing-unit:     1.7em !default;

$brand-color-light: #d5ae7c !default;
$text-color:       #000 !default;
$background-color: #fcf1ee !default;
$brand-color:      #836330 !default;
$brand-color-dark: #5c3f1f !default;
$header-color:     #000 !default;

$grey-color:       #a1796a !default;
$grey-color-dark:  #666 !default;
$grey-color-light: #ddd !default;

$phone-font-size:  20px !default;
$phone-width: 600px !default;
$tablet-width: 900px !default;

// This breakpoint is used to increase font sizes and spacing to make it
// easier to read text and tap links on a phone.
@mixin media-phone {
  @media screen and (max-width: $phone-width) {
    @content;
  }
}
// This breakpoint is used to collapse grid layouts into a single column
// so lines of text are a comfortable width for reading.
@mixin media-tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@import
  'fontawesome/fontawesome',
  'fontawesome/solid',
  'fontawesome/brands';

// Import partials.
@import
  "includes/base",
  "includes/layout",
  "includes/syntax-highlighting",
  'site/header.scss',
  'site/footer.scss',
  'pages/home',
  'pages/books';
