/**
 * Site header
 */
.site-header {
  box-shadow: 0 0 1px 2px $header-color, 0 2px 4px 2px $brand-color-light;
  width: 100%;
  color: $brand-color-light;
  background-color: $header-color;
  a {
    color: $brand-color-light;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .site-title {
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    padding: $spacing-unit 1.6%;
    h1{
      margin: 0 210px 0 0;
      font-size: 30px;
      font-weight: bold;
      line-height: 36px;
    }
    h2{
      margin: 0;
      color: $grey-color;
      font-size: 16px;
      font-weight: normal;
      font-style: italic;
    }

    .social-media {
      list-style: none;
      float: right;
      margin: 3px 0 0;
      max-width: 210px;
      height: 30px;

      li {
        display: inline-block;
        margin-right: 18px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .site-banner {
    width: 100%;
  }

  nav.site-nav {
    text-align: center;
    a.site-nav-link {
      display: inline-block;
      padding: 10px 20px;
      margin-bottom: 0;
      font-size: 16px;
      &.active {
        font-weight: bold;
      }
      &:hover {
        color: #000;
        background-color: $brand-color-light;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  box-shadow: 0 -1px 1px 2px $header-color, 0 -2px 4px 2px $brand-color-light;
  font-size: $tiny-font-size;
  color: $brand-color-light;
  background-color: $header-color;
  padding: $spacing-unit 1.6%;

  .site-footer-inner {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    overflow: auto;

    @include media-phone {
      flex-direction: column-reverse;
      align-items: center;

      .copyright, .email {
        display: inline;
        margin: 0 0.5em;
      }
    }

    .site-footer-left{
      .email{
        color: $brand-color;
        a {
          color: $brand-color;
        }
      }
    }
  }

  a {
    color: $brand-color-light;
  }
  blockquote{
    cite{
      font-size: $tiny-font-size;
      color: $grey-color-dark;
    }
  }

  .tiny-quote {
    font-size: $tiny-font-size;

  }
}



/**
 * Home layout
 */
.home-header {
  a {
    margin-left: $spacing-unit / 3;
  }
}
.home-section {
  // border-top: #000 1px solid;
  margin-top: $spacing-unit * 1.3;
  h2 {
    margin-top: 0;
    margin-bottom: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px $brand-color-light;
  }
  hr {
    border-top: 2px solid $text-color;
    box-shadow: 1px 1px 1px $brand-color-light;
  }
  &.social-media {
    .social-media-link {
      &:not(:last-child):after {
        content: ", ";

      }
      &:last-child:before {
        content: " and ";
      }
    }
  }
  .book-list {
    display: flex;
    flex-direction: row;
  }
  .book-entry {
    flex: 1 1 0;
    &:not(:last-child) {
      margin-right: $spacing-unit / 2;
    }
  }
  .featured-stories {
    display: flex;
    flex-direction: row;
    @include media-tablet {
      display: block;
    }
  }
  .featured-story {
    flex: 1 1 0;
    &:not(:last-child) {
      margin-right: $spacing-unit / 2;
      @include media-tablet {
        margin-right: 0;
        margin-bottom: $spacing-unit;
      }
    }
    h3 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5em;
      a {
        color: $text-color;
      }
    }
    .story-excerpt {
      font-size: $small-font-size;
    }
    .anthology {
      overflow: hidden;
    }
    .anthology-info {
    }
    .anthology-title {
      margin: 0;
    }
    .anthology-cover {
      float: left;
      width: 4em;
      padding-top: 0.1em;
      padding-right: 1em;
      flex-basis: 4em;
    }
    .anthology-cover img{
      width: 100%;
      height: auto;
    }
    .anthology-links {
    }
  }
  ul.story-links {
    font-size: $small-font-size;
    list-style: none;
    margin-left: 0;
    li a {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  h4 {
    color: $brand-color;
    font-size: $small-font-size;
    font-weight: bold;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }
}

i.where-to-find {
  width: 1.5em;
  @include fa-icon-regular($fa-var-link);
  &.website {
    @include fa-icon-solid($fa-var-globe);
  }
  &.audio {
    @include fa-icon-solid($fa-var-headphones);
  }
  &.book {
    @include fa-icon-solid($fa-var-book);
  }
  &.ebook {
    @include fa-icon-solid($fa-var-tablet-screen-button);
  }
  &.review {
    @include fa-icon-solid($fa-var-star);
  }
}

/**
 * Content
 */
.post-header {
  margin-bottom: $spacing-unit / 2;
}

.post-title {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.3em;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  h3 {
    margin-bottom: 0.3em;
  }
}

.post-link {
  display: block;
  font-weight: bold;
}

.post-list-heading {
  font-weight: bold;
}

.post-list-container {
  max-width:  $content-width;
  margin: 0 auto;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    h3{
      margin-bottom: 0;
    }
  }
}

.rss-subscribe {
  font-size: $small-font-size;
  color: $grey-color;
  float: right;
  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  &.adult:after {
    content: "[18+]";
    color: $brand-color;
    font-size: 0.6em;
    vertical-align: super;
  }
}

p.author {
  font-size: $small-font-size;
  font-style: italic;
  color: $brand-color
}

a.arrow:after{
  display: inline-block;
  margin-left: 0.1em;
  content: " \2192";
  text-decoration: none;
}