/**
 * Site header
 */
.site-header {
  width: 100%;
  color: $brand-color-light;
  background-color: $header-color;
  a {
    color: $brand-color-light;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .site-title {
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    padding: $spacing-unit 1.6%;
    h1{
      margin: 0 210px 0 0;
      font-size: 30px;
      font-weight: bold;
      line-height: 36px;
    }
    h2{
      margin: 0;
      color: $grey-color;
      font-size: 16px;
      font-weight: normal;
      font-style: italic;
    }

    .social-media {
      list-style: none;
      float: right;
      margin: 3px 0 0;
      max-width: 210px;
      height: 30px;

      li {
        display: inline-block;
        margin-right: 18px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .site-banner {
    width: 100%;
  }

  nav.site-nav {
    text-align: center;
    a.site-nav-link {
      display: inline-block;
      padding: 10px 20px;
      margin-bottom: 0;
      font-size: 16px;
      &.active {
        font-weight: bold;
      }
      &:hover {
        color: #000;
        background-color: $brand-color-light;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $brand-color;
  font-size: $tiny-font-size;
  color: $brand-color-light;
  background-color: $header-color;
  padding: $spacing-unit 1.6%;

  .site-footer-inner {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
    .site-footer-left {
      // flex: 1;
    }
    .site-footer-left{
      // flex: 1;
      @include media-phone {
        display: none;
      }
    }
  }

  a {
    color: $brand-color-light;
  }
  blockquote{
    cite{
      font-size: $tiny-font-size;
      color: $grey-color-dark;
    }
  }

  .tiny-quote {
    font-size: $tiny-font-size;
  }
}



/**
 * Home layout
 */
.home-header {
  a {
    margin-left: $spacing-unit / 3;
  }
}
.home-section {
  border-top: #000 1px solid;
  margin-top: $spacing-unit;
  h2 {
    margin-top: 0;
    margin-bottom: $spacing-unit / 2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  &.social-media {
    .social-media-link {
      &:not(:last-child):after {
        content: ", ";

      }
      &:last-child:before {
        content: " and ";
      }
    }
  }
  .book-list {
    display: flex;
    flex-direction: row;
  }
  .book-entry {
    flex: 1 1 0;
    &:not(:last-child) {
      margin-right: $spacing-unit / 2;
    }
  }
}



/**
 * Content
 */
.post-header {
  margin-bottom: $spacing-unit / 2;
}

.post-title {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.3em;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  h3 {
    margin-bottom: 0.3em;
  }
}

.post-link {
  display: block;
  font-weight: bold;
}

.post-list-heading {
  font-weight: bold;
}

.post-list-container {
  max-width:  $content-width;
  margin: 0 auto;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    h3{
      margin-bottom: 0;
    }
  }
}

p.author {
  font-size: $small-font-size;
  font-style: italic;
  color: $brand-color
}

a.arrow:after{
  display: inline-block;
  margin-left: 0.1em;
  content: " \2192";
  text-decoration: none;
}